/* .map-container {
  position: relative;
  width: 100%;
  padding-top: 75%; 
} */
 
.map-container{
    flex: 1;
    height: 300px; 
} 

#title {
    text-align: center;
    color: rgb(0, 19, 70);
}

.cohesion {
    display: flex; 
    justify-content: center;
    list-style: none; 
    padding: 0;
    margin: 0;
    gap: 20px;
}

.prefecture {

}

.genre {
    
}

.imgstyl{
  text-align: center;
}

.container{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 20px; 
    margin-top: 20px; 
}

.container img,
.container iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}